@gray: #d9d9d9;

body {
  /* For the Footer Menu */
  padding-bottom: 51px;
  background: url(../img/line.png) no-repeat right top, url(../img/bg.jpg) repeat left top;
  margin:40px 0;
}
.headNav {
  border-bottom:3px solid @gray;
  margin: 0 0 15px 0;
  padding:0 0 15px 0;
}

/* navigation */
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    //max-width:300px;
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

.headNav {
ul {  }
li { list-style: none;
  display: inline; }
}

.clear {
  clear: both;
  background-color: #fff;
}

.dmbs-container {
  background: #fff;
  padding: 15px;

  img{
    //min-width:100%;
    width:100%;
  }
}

.dmbs-header {

}

.dmbs-header-img {

}

.dmbs-header-text {

}

.dmbs-top-menu {

}

.dmbs-content {

}

.dmbs-main {

}

.dmbs-left {

}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}
